.App {
  text-align: center;
  min-width: 500px;
  max-height: 120px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 100px;
  padding: 10px;
}

.league-btn {
  padding: 5%;
  background-color: #6699ff;
}
